.site-footer {
  padding-top: 46px;
  padding-bottom: 70px;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer-text {
    margin-top: 30px;
    width: 400px;
  }
}
