.nav {
  list-style: none;
  .nav-item {
    a {
      color: $text;
      &:hover {
        color: $orange;
      }
    }
    &.active {
      a {
        color: $orange;
      }
    }
  }
  &.inline {
    .nav-item {
      display: inline-block;
      margin-right: 15px;
    }
    &.center {
      display: flex;
      justify-content: center;
    }
    &.right {
      display: flex;
      justify-content: flex-end;
    }
  }
  &.bold {
    .nav-item {
      font-weight: 600;
    }
  }
}
