* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    color: $orange;
  }
}

a,
p,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
}

input,
textarea {
  outline: none;
}

.cool-header {
  color: $orange;
  padding: {
    left: 10px;
    top: 10px;
    bottom: 10px;
  }
  border-left: 3px solid $orange;
}

.price {
  color: #57e334;
  font-size: 1.33em;
  font-weight: 600;
}

.tbold {
  font-weight: 600;
}

.tlight {
  font-weight: 300;
}
